.ProductImage {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0px, 350px));
}

.product {
    display: grid;
}

.product__pricenumber {
    font-weight: bolder;
    font-size:larger;
}

.product__price--sale {
    color: red;
}
.product__link{
    color: black;
    text-decoration: none;
}
.product__bonuses{
padding-left: 20px;
}
.product__bonus::marker{
    
    color: green;
    font-size: xx-large;
}
.product__bonus--unavailible::marker{
color:red;
}
.product__bonus--notatthemoment::marker{
    color:orange;
}